@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #14151a;
  --background-50: #f1f1f4;
  --background-100: #e3e3e8;
  --background-200: #c6c6d2;
  --background-300: #aaaabb;
  --background-400: #8e8ea4;
  --background-500: #71718e;
  --background-600: #5b5b71;
  --background-700: #444455;
  --background-800: #2d2d39;
  --background-900: #17171c;
  --background-950: #0b0b0e;
  --foreground: #e2e2e2;
}

@font-face {
  font-family: 'SNPro';
  src: url('./fonts/SNPro-Variable.woff') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'SNPro', sans-serif;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../public/assets/bg.png");
  z-index: -1;
  mask-image: linear-gradient(to top, transparent 10%, black 100%);
  -webkit-mask-image: linear-gradient(to top, transparent 10%, black 100%);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
